@import "./variable.scss";
img {
    max-width: 100%;
}

.header {
    @include phone {
        padding: 5px 0;
    }
    .container {
        .row {
            @include phone {
                margin: 0;
                padding-right: 0;
            }
            .navbar {
                @include phone {
                    padding: 0 !important;
                }
                .menu_ctg {
                    @include phone {
                        width: 100%;
                    }
                    .category {
                        i {
                        }
                        small {
                        }
                        .menu__item {
                            display: none;
                            width: 800px;
                            position: absolute;
                            top: 0;
                            left: 14.5em;
                            background-color: rgb(235, 247, 255);
                            padding: 15px;
                            height: 100%;
                        }
                        br {
                            @include phone {
                                display: none;
                            }
                        }
                        span {
                            @include phone {
                                display: none;
                            }
                        }
                    }
                    .dropdown-item:hover {
                        .menu__item {
                            display: flex;
                        }
                    }
                    .list__product::before {
                        content: "";
                        border-bottom: 0.35rem solid #fff;
                        border-right: 0.35rem solid transparent;
                        border-left: 0.35rem solid transparent;
                        position: absolute;
                        top: -0.3rem;
                        right: 7rem;
                        z-index: 10;
                        .menu__item {
                        }
                    }
                }
                .menu_ctg:after {
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transition: opacity 0.35s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                    background-color: rgba(0, 0, 0, 0.5);
                    pointer-events: none;
                }
                .menu_ctg:hover:after {
                    z-index: 10;
                    opacity: 1;
                    visibility: visible;
                    position: fixed;
                }
                .navbar-brand {
                }
                .navbar-toggler {
                    @include phone {
                        color: white;
                        border: none;
                    }
                }
                .navbar-collapse {
                    @include phone {
                    }
                    .navbar-nav {
                        @include phone {
                            display: flex;
                            align-items: normal;
                            position: relative;
                            flex-direction: column-reverse;
                            padding: 5px 15px;
                        }
                        .login_resg {
                            .info {
                            }
                        }
                        .search {
                            input {
                                @include phone {
                                    height: 30px;
                                }
                            }
                            .search__info {
                                background: white;
                                display: none;
                                position: absolute;
                                top: 3em;
                                z-index: 99;
                                height: auto;
                                width: 563px;
                                padding: 15px 5px;
                                .search__popular {
                                    img {
                                        max-width: 100% !important;
                                    }
                                }
                                .list__search {
                                    .list__item {
                                        display: flex;
                                        img {
                                            width: 25%;
                                        }
                                    }
                                }
                            }
                            .btn_search {
                                @include phone {
                                    height: 30px !important;
                                }
                                button {
                                    @include phone {
                                        display: flex;
                                        align-items: center;
                                    }
                                    small {
                                        @include phone {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .account {
                            @include phone {
                                position: absolute;
                                top: -2.2rem;
                                right: 5rem;
                            }
                            a {
                                i {
                                    @include phone {
                                        font-size: 15px !important;
                                        margin-right: 0 !important;
                                    }
                                }
                                span {
                                    @include phone {
                                        display: none;
                                    }
                                }
                            }
                            .dropdown-menu {
                                .reg__log:hover {
                                    background: transparent;
                                }
                            }
                            .control::before {
                                content: "";
                                border-bottom: 0.35rem solid #fff;
                                border-right: 0.35rem solid transparent;
                                border-left: 0.35rem solid transparent;
                                position: absolute;
                                top: -0.35rem;
                                right: 12rem;
                                z-index: 10;
                            }
                        }
                        .cart {
                            @include phone {
                                position: absolute;
                                top: -2.2rem;
                                right: 2.5rem;
                            }
                            @extend .account;
                            div::before {
                                content: "";
                                border-bottom: 0.35rem solid #fff;
                                border-right: 0.35rem solid transparent;
                                border-left: 0.35rem solid transparent;
                                position: absolute;
                                top: -0.35rem;
                                right: 5.3rem;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
        }
        .menu--suggest {
            @include phone {
                display: none;
            }
        }
    }
}
