.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0px;
    background: white;
    padding: 0px 0px 15px 0px;
    li {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent;
            border: none;
            color: #6d86a0;
            font-size: 0.8rem;
            cursor: pointer;
        }
        button:hover {
            color: rgb(255, 255, 255);
        }
        button:focus {
            outline: none;
        }
    }
    .active {
        background-color: rgb(1, 127, 255);
        color: white;
    }
    li:hover {
        background-color: rgb(1, 127, 255);
        color: white;
    }
}